= page_title(raw('Editar <b><%= singular_table_name %></b>'))

.row
  .span12

    = link_to 'Cancelar', '', class: 'btn btn-default btn-left back-js'
    = link_to 'Ver', @<%= singular_table_name %>, class: 'btn btn-default'
    = render 'form'
